		<!-- Start Intro Section -->
		<section id="intro" class="section-intro">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="main-text">
							<h1 class="wow fadeInUp"><span>TimeKeeper</span>  </h1>
							<h2 class="wow fadeInUp" data-wow-delay=".7s">Отличное решение для контроля и управления рабочим временем сотрудников</h2>
							<div class="wow fadeInUp" data-wow-delay="1.5s"><a onclick="smoothScr.anim('services')" class="btn btn-border btn-lg"><i class="fa fa-cog fa-spin"></i> Возможности</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Intro Section -->

		<!-- Start Services Section -->
		<section id="services">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s">Преимущества <span>TimeKeeper</span></h1>
				<div class="row">
					<div class="col-sm-6 col-md-3 wow fadeInUp">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-cogs"></i>
								</div>
								<h2>интерфейс</h2>
								<p>Интерфейс TimeKeeper был разработан для максимально удобного использования как сотрудниками, так и руководящим персоналом.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".2s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-paper-plane"></i>
								</div>
								<h2>Скорость</h2>
								<p>TimeKeeper работает быстро и отзывчиво, обеспечивая максимальную прозрачность для всех пользователей</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".4s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-hdd-o"></i>
								</div>
								<h2>Устройства</h2>
								<p>TimeKeeper может работать с разнообразными устройствами для идентификации пользователей, и управлять доступом в различные места. </p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".6s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-mobile-phone"></i>
								</div>
                                
								<h2>Мобильная версия</h2>
								<p>TimeKeeper имеет мобильную версию интерфейса, с которой можно полноценно работать.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Services Section-->

		<!-- Start Why chose us Section -->
		<section id="why-chose">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s">Почему <span>TimeKeeper</span></h1>
				<div class="row">
					<div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-left">
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-laptop"></i>
								</span>
								<div class="content">
									<h4>Богатые возможности</h4>
									<p>Для любого сотрудника можно гибко управлять его графиком</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-cog"></i>
								</span>
								<div class="content">
									<h4>Clean Code</h4>
									<p>Lorem it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-random"></i>
								</span>
								<div class="content">
									<h4>Cross Browser</h4>
									<p>Lorem it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-offset="10"  data-wow-delay="0.3s">
						<div class="showcase-box">
							<%= image_tag "why.png" %>
						</div>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-right">
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-umbrella"></i>
								</span>
								<div class="content">
									<h4>Premium Features</h4>
									<p>Lorem it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-heart"></i>
								</span>
								<div class="content">
									<h4>Modern Design</h4>
									<p>Lorem it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-comments"></i>
								</span>
								<div class="content">
									<h4>24/7 Support</h4>
									<p>Lorem it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Why chose us Section  -->

		<!-- pricing-table Section -->
		<section id="pricing">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Цены</span> Table</h1>
				<div class="row">
					<div class="col-sm-6 col-md-3 wow bounceIn" data-wow-offset="10" data-wow-delay="0.2s">
						<div class="table text-center">
							<div class="pricing-header">
								<p class="price-quality">Simple</p>
							</div>
							<div class="price">
								<p class="price-value">$29</p>
							</div>
							<div class="pricing-list">
								<ul>
									<li>5GB Disk Space</li>
									<li>500GB Monthly Bandwidth</li>
									<li>10 Email Accounts</li>
									<li>Unlimited Subdomains</li>
								</ul>
							</div>
							<a href="#" class="btn btn-common">Sing Up</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow bounceIn" data-wow-offset="10" data-wow-delay="0.4s">
						<div class="table text-center">
							<div class="pricing-header">
								<p class="price-quality">Standard</p>
							</div>
							<div class="price">
								<p class="price-value">$49</p>
							</div>
							<div class="pricing-list">
								<ul>
									<li>5GB Disk Space</li>
									<li>500GB Monthly Bandwidth</li>
									<li>10 Email Accounts</li>
									<li>Unlimited Subdomains</li>
								</ul>
							</div>
							<a href="#" class="btn btn-common">Sing Up</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow bounceIn" data-wow-offset="10" data-wow-delay="0.6s">
						<div class="table text-center">
							<div class="pricing-header">
								<p class="price-quality">Ultimate</p>
							</div>
							<div class="price">
								<p class="price-value">$79</p>
							</div>
							<div class="pricing-list">
								<ul>
									<li>5GB Disk Space</li>
									<li>500GB Monthly Bandwidth</li>
									<li>10 Email Accounts</li>
									<li>Unlimited Subdomains</li>
								</ul>
							</div>
							<a href="#" class="btn btn-common">Sing Up</a>
						</div>						
					</div>
					<div class="col-sm-6 col-md-3 wow bounceIn" data-wow-offset="10" data-wow-delay="0.8s">
						<div class="table text-center">
							<div class="pricing-header">
								<p class="price-quality">Basic</p>
							</div>
							<div class="price">
								<p class="price-value">$09</p>
							</div>
							<div class="pricing-list">
								<ul>
									<li>5GB Disk Space</li>
									<li>500GB Monthly Bandwidth</li>
									<li>10 Email Accounts</li>
									<li>Unlimited Subdomains</li>
								</ul>
							</div>
							<a href="#" class="btn btn-common">Sing Up</a>
						</div>						
					</div>
				</div>
			</div>
		</section>
		<!-- End pricing-table Section-->
