<h1>Check-ins</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cardholder</th>
      <th>Check-in point</th>
      <th>Check-in time</th>
    </tr>
  </thead>

  <tbody>
    <% @rdesp.each do |response| %>
      <tr class="<%= response[:style] %>">
        <td><%= response[:name] %>
        </td>
        <td><%= response[:location] %></td>
        <td><%= response[:time].to_time.strftime("%H:%M:%S, %A, %d-%m-%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

