<h1>Check-ins</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cardholder</th>
      <th>Check-in point</th>
      <th>Check-in time</th>
    </tr>
  </thead>

  <tbody>
    <% @resp.each do |response| %>
      <tr class="<%= unless response[:name].nil? && response[:location].nil? then unless Permission.where(:user_id => response[:name].first.id, :reader_id => response[:location].first.id).nil? then 'success' else 'danger' end end%>">
        <td><%= unless response[:name].blank? then response[:name].first.username else 'Unknown' end%>
        </td>
        <td><%= unless response[:location].blank? then response[:location].first.desc else 'Unknown location' end%></td>
        <td><%= response[:time].to_time.strftime("%H:%M:%S, %A, %d-%m-%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

